body {
    text-align: center;
    background-color: black;
    color: white;
}
table {
    margin: auto;
}
input {
    margin: auto;
}
#info {
    font-size: 14px;
    color: rgb(177, 177, 177);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
a:link {
color: rgb(177, 177, 177);
background-color: transparent;
text-decoration: none;
}

a:visited {
color: rgb(177, 177, 177);
background-color: transparent;
text-decoration: none;
}

a:hover {
color: rgb(102, 102, 102);
background-color: transparent;
text-decoration: underline;
}

a:active {
color: rgb(177, 177, 177);
background-color: transparent;
text-decoration: underline;
}
#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
hr.solid {
    border-top: .2px solid #424242;
}